body{
  background-color: #82C3EC;
}

.main_nav {
  background-color: #301E67;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav_title h1 {
  margin: 0;
  font-size: 28px;
}

.nav-button {
  background-color: #a756ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 10px;
}

.nav-button:hover {
  background-color: #9553e6;
}

.connect-wallet {
  background-color: #a756ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 10px;
}

.connect-wallet:hover {
  background-color: #9553e6;
}

.connect-wallet p {
  margin: 0;
}

.form-create {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
}

button.form-submit {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button.form-submit:hover {
  background-color: #3e8e41;
}
.catagories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.artifact-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.card button {
  background-color: #a756ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.card button:hover {
  background-color: #9553e6;
}

.modal-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-style h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.donate {
  background-color: #a756ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
}

.donate:hover {
  background-color: #9553e6;
}
